
body{
background-color:rgb(228, 248, 248) ;
}


 h1{ 
color: rgb(0, 0, 0);
font-family:Luminari, fantasy ;
background: ;
}


p{
color:rgb(2, 2, 2) ;
font-family:Luminari, fantasy ;
font
:400;% ;
background: ;
}   
